section:nth-child(1) {

    max-width: 80%;
    margin: 0 auto;
}

.accordion-header button {

    font-size: 20px;
    color: #004c99;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #eb6f00;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
  }

  .box-all {

    width: 1200px;
    gap: 10px;

}

.single {

    width: 23%;
    height: 400px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.233);
}

.single::before {

    position: absolute;
    content: '';
    background: var(--orange);
    width: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 100px;
    height: 80px;
}

.single::after {

    position: absolute;
    content: '';
    background: var(--orange);
    width: 30px;
    top: 0;
    right: 0;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 100px;
    height: 80px;
}

.icon {

    width: 100%;
    height: 33%;
    padding-top: 50px;
    margin-bottom: 30px;
}

.icon img {

    width: 100px;
    height: 100px;
    padding: 5px;
}

.name {

    width: 100%;
    height: 25%;
    background: var(--orange);
    align-items: center;

}

.name h3 {

    font-size: 20px;
    font-weight: 600;
    width: 80%;
    color: #FFF;
}

.description {

    margin-top: 40px;
    height: 30%;
}

.description p {

    font-size: 17px!important;
    text-align: center;
    margin: 0!important;
    font-weight: 400!important;
}

.subtitle p {

    font-size: 20px;
    color: var(--blue);
}

@media screen and (max-width: 1440px) {
    
    .single {

        width: 28%;
        height: 450px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.233);
    }

}

@media screen and (max-width: 1100px) {

    .single {

        width: 49%;
        height: 400px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.233);
    }

}